@font-face {
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/TTLakes-Medium.woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'TT Lakes', sans-serif;
}

.container {
    max-width: 1120px;
    margin: 0 auto;

    overflow: hidden;

    background-color: #F2F2F2;
}

.hero__heading {
    padding-top: 16px;
    padding-left: 32px;

    text-transform: uppercase;
}

.hero__brand-list {
    padding-top: 35px;
}

.hero__brand-items {
    display: flex;
    flex-wrap: wrap;

    padding-top: 5px;
    padding-left: 5px;
    max-width: 1088px;
    height: 176px;

    overflow: hidden;
    margin-left: 27px;
}

.hero__brand-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 22.05%;
    min-width: 204px;
    height: 72px;
    margin-right: 2.94%;
    margin-bottom: 16px;

    background-color: white;
    border-radius: 6px;
    transition: background-color .5s, transform .5s, box-shadow .5s;
}

.hero__brand-logo {
    margin-left: 16px;
}

.hero__brand-btn {
    height: 40px;
    margin-right: 16px;
}

.hero__show-link {
    margin-left: 32px;
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 34px;

    background-image: url("../img/icondown.png");
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: center left;
}

.change {
    margin-top: 30px;
    margin-bottom: 14px;

    background-image: url("../img/icon.png");
}

.hidden {
    display: none;
}


/* Media */


@media (min-width: 471px) {
    .hero__brand-item:hover {
        background-color: #d0eaf5;
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 3px 3px 5px #918e8e;
    }
}

@media (max-width: 768px) and (min-width: 321px) {

    .hero__brand-items {
        margin-left: 24px;
    }

    .hero__brand-item {
        width: 30%;
        min-width: 205px;
        height: 72px;
        margin-right: calc(24 * 100% / 768);
    }
}

@media (max-width: 470px) {

    .swiper {
        position: relative;
        margin: 0 auto;
        height: 100px;
    }

    .swiper-slide-next {
        opacity: 0.5;
    }

    .swiper-slide-active > .hero__brand-item {
        background-color: #d0eaf5;
    }

    .swiper-slide > .hero__brand-item {
        transition: opacity 1s, background-color 1s;
    }

    .swiper-pagination {
        position: absolute;
        top: 80px;
    }

    .hero__heading {
        padding: 15px;
    }

    .hero__brand-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 16px;
        width: 240px;
        height: 72px;

        background-color: white;
        border-radius: 6px;
    }

    .hero__show-link {
        display: none;
    }

    .container {
        width: 320px;
        height: 196px;
        margin: 0 auto;

        border-right: 8px solid white;

        background-color: #F2F2F2;
        overflow: hidden;
        box-shadow: inset -11px 0 25px white;
    }
}